@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import "tailwindcss";

@theme {
  --color-soft-primary: #84D187;
  --color-primary: #00B207;
  --color-hard-primary: #2C7D2F;
  --color-warning: #FF8A00;
  --color-danger: #EA4B48;
  --shadow-soft:  0 -3px 6px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.1);
  --shadow-medium: 0px 8px 12px rgba(0, 0, 0, 0.15);
  --shadow-hard: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

* {
  font-family: 'Poppins';
}
button {
  @apply hover:cursor-pointer hover:scale-[0.98] transition-all duration-200 ease-in-out
}
.animate {
  @apply transition-all duration-200 ease-in-out
}
